#step-bar
  background: green
  color: white
  height: 40px
  -moz-border-radius: 5px

  li
    display: block
    float: left
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    padding-left: 10px
    padding-right: 10px
    margin: 0
    line-height: 40px

    &.current
      color: black
      font-weight: bold
      background: lightgreen

      a
        color: black

    &.future
      color: darkgray

    &.head
      font-weight: bold

  #log-out-button
    float: right
    line-height: 40px
    padding-right: 15px

  a
    color: lightgray
    text-decoration: none

    &:visited
      color: lightgray
      text-decoration: none

    &:hover
      color: white
      text-decoration: none

#doc-upload-forms
  .upload-item
    margin: 5px
    padding: 5px
    width: 45%
    height: 50px
    background: #e0e0e0
    border: 1px solid gray
    -moz-border-radius: 5px
    float: left   
  .thumbnail
    float: left
    padding: 5px
    padding-right: 10px

.progress-container
  width: 300px
  text-align: center
  background: #e0e0e0
  .progress-bar
    width: 100%
    border: 1px solid #999
  .progress-indicator
    background: #8a9
    width: 0
    height: 4px

.submission-ticket
  border: 2px black solid
  padding: 10px
  -moz-border-radius: 5px

  .info
    font-size: 150%

  .verification
    font-size: 80%
