body {
  background: white;
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; }

.registration-msg {
  border: 1px solid green;
  background: #fafcc8;
  padding: 10px; }

#step-bar {
  background: green;
  color: white;
  height: 40px;
  -moz-border-radius: 5px; }
  #step-bar li {
    display: block;
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    line-height: 40px; }
    #step-bar li.current {
      color: black;
      font-weight: bold;
      background: lightgreen; }
      #step-bar li.current a {
        color: black; }
    #step-bar li.future {
      color: darkgray; }
    #step-bar li.head {
      font-weight: bold; }
  #step-bar #log-out-button {
    float: right;
    line-height: 40px;
    padding-right: 15px; }
  #step-bar a {
    color: lightgray;
    text-decoration: none; }
    #step-bar a:visited {
      color: lightgray;
      text-decoration: none; }
    #step-bar a:hover {
      color: white;
      text-decoration: none; }

.app-form h2 {
  height: 40px;
  border-bottom: 1px solid black;
  margin: 0px;
  font-size: 120%;
  line-height: 40px;
  display: block;
  padding-left: 5px; }

#edu-form #edu-score-box input {
  width: 50px; }

#doc-upload-forms .upload-item {
  margin: 5px;
  padding: 5px;
  width: 45%;
  height: 50px;
  background: #e0e0e0;
  border: 1px solid gray;
  -moz-border-radius: 5px;
  float: left; }
#doc-upload-forms .thumbnail {
  float: left;
  padding: 5px;
  padding-right: 10px; }

.progress-container {
  float: left;
  width: 300px;
  text-align: center;
  background: #e0e0e0; }
  .progress-container .progress-bar {
    width: 100%;
    border: 1px solid #999; }
  .progress-container .progress-indicator {
    background: #8a9;
    width: 0;
    height: 4px; }

.submission-ticket {
  border: 2px black solid;
  padding: 10px;
  -moz-border-radius: 5px; }
  .submission-ticket .info {
    font-size: 150%; }
  .submission-ticket .verification {
    font-size: 80%; }

#applicant-info-confirmation .section {
  padding: 5px; }
#applicant-info-confirmation .address {
  padding-right: 50px; }
