{% load humanize %}

<div class="light-frame">
<p>
  {% if is_adm_major_pref_copied_from_prev_round %}
    ระบบได้คัดลอกการเลือกสาขาวิชาที่ต้องการเข้ายืนยันสิทธิ์ในรอบก่อนที่คุณได้เลือกไว้<br/>
  {% endif %}
  สำหรับการคัดเลือกในรอบที่ {{ current_round.number }} คุณได้เลือก: 
  <b>{{ admission_major_pref.get_display }}</b><br/>
</p>

{% if not admission_major_pref.is_withdrawn %}
  {% if confirmation_complete %}
    <p>
      <h2>คุณได้ยืนยันสิทธิ์แล้ว</h2>
      คุณได้ชำระเงินค่ายืนยันสิทธิ์เรียบร้อยแล้ว และเราได้รับข้อมูลจากทางธนาคารเมื่อวันที่ {{ recent_confirmation.confirmed_at|date:"d F" }} 2554<br/>
      สำหรับผู้ที่ชำระเงินเพื่อยืนยันสิทธิ์แล้ว คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์จะส่งรายชื่อไปยัง สกอ. เพื่อตัดสิทธิ์การสอบระบบกลาง (อ่านรายละเอียดด้านล่าง)
    </p>
  {% else %}
    <p>
      <h2>การยืนยันสิทธิ์ของคุณยังไม่สมบูรณ์</h2>

      {% if recent_confirmation %}
        <p>คุณได้ชำระเงินค่ายืนยันสิทธิ์สำหรับรอบ {{ recent_confirmation.round_number }} แล้ว และเราได้รับข้อมูลเมื่อวันที่ {{ recent_confirmation.confirmed_at|date:"d F" }} 2554 แล้ว อย่างไรก็ตาม <b>สำหรับการเข้าศึกษาต่อในสาขา {{ admission_result.admitted_major.name }} คุณจะต้องชำระเงินเพิ่ม {{ additional_payment|intcomma }} บาท</b></p>
      {% endif %}

      การยืนยันสิทธิ์จะยังไม่สมบูรณ์จนกว่าคุณจะได้ไปชำระเงินค่ายืนยันสิทธิ์สำหรับสาขา {{ admission_result.admitted_major.name }} เป็นเงินรวมทั้งสิ้น {{ admission_result.admitted_major.confirmation_amount|intcomma }} บาท ที่ธนาคารไทยพาณิชย์ <b>ภายในวันที่ {{ current_round.last_date|date:"d F" }} 2554</b>  ถ้าคุณไม่ได้ไปชำระเงินภายในวันดังกล่าว จะถือว่าคุณสละสิทธิ์ &nbsp;&nbsp; <b>เมื่อคุณยืนยันสิทธิ์แล้ว ทางคณะจะส่งรายชื่อไปยัง สกอ. เพื่อตัดสิทธิ์การสอบระบบกลางต่อไป</b> (อ่านรายละเอียดด้านล่าง)
    </p>
    <center>
      <a href="{% url status-confirm-ticket %}?{{ random_seed }}">
	<div class="button medium">
	  พิมพ์ใบชำระเงินสำหรับธนาคารเพื่อยืนยันสิทธิ์
	</div>
      </a>
    </center>
    <p>
      <small><b>หมายเหตุ:</b> ทางธนาคารจะส่งข้อมูลการชำระเงินให้กับโครงการรับตรงในวันทำการวันถัดไป
      ดังนั้น ถึงแม้คุณจะชำระเงินแล้ว ข้อมูลภายในเว็บอาจจะยังไม่ได้ปรับให้เป็นปัจจุบัน (ยกตัวอย่างเช่น ถ้าผู้สมัครชำระเงินวันศุกร์ ข้อมูลจะถูกปรับในวันจันทร์เช้า เป็นต้น)
      </small>
    </p>

  {% endif %}
{% endif %}

{% include "application/status/include/student_registration_link.html" %}

{% if is_confirmation_time_left %}
  <p>
    คุณสามารถเปลี่ยนการเลือกของคุณได้ในรอบนี้ได้ ภายในวันที่ {{ current_round.last_date|date:"d F" }} 2554
  </p>

  <center>
    <a href="{% url confirmation-pref %}">
      <div class="button-blue medium">เปลี่ยนการเลือก</div>
    </a>
  </center>
{% endif %}

</div>
