<div class="login-box">
  <a id="id_status-show-button" class="in-button" href="{% url status-show %}">
    <div class="button">
      ตรวจสอบข้อมูลในใบสมัครที่ส่งมาแล้ว
    </div>
  </a>
  <div class="small-vert-sept"></div>
  <a id="id_payin-button" class="in-button" href="{% url apply-ticket %}" target="_blank">
    <div class="button">
      พิมพ์ใบชำระเงินค่าสมัครเพื่อชำระเงินที่ธนาคาร
    </div>
  </a>
  <div class="small-vert-sept"></div>
  <a id="id_majors-update-button" class="in-button" href="{% url update-majors %}">
    <div class="button">
      แก้ไขอันดับสาขาวิชา
    </div>
  </a>
</div>
