<div class="upload-item">
  {% if upload_field.has_thumbnail %}
    <div class="thumbnail">
      <img src="{% url upload-thumbnail upload_field.name %}?{{ upload_field.random_string }}"/>
    </div>
  {% endif %}
  <div class="doc-upload-form">
    {{ upload_field.field.verbose_name }}{% if upload_field.has_thumbnail %} <span class="upload-doc-view">[<a href="{% url upload-preview upload_field.name %}?{{ upload_field.random_string }}" rel="facebox">ดู</a>]</span>{% endif %}
    <br/>
  </div>
</div>
