{% extends "application/formbase.html" %}

{% block title %}Information Confirmation{% endblock %}

{% block form-body %}
<div class="app-form">
  <h1>ยืนยันข้อมูลการสมัคร</h1>
  <p>
    กรุณาตรวจสอบข้อมูลต่อไปนี้ ก่อนกดยืนยัน 
    จากนั้นให้พิมพ์หน้าถัดไป ส่งมาพร้อมกับหลักฐาน  (แก้คำพูดด้วย!!!!!!)
  </p>
  <div id="applicant-info-confirmation">
    {% include "application/include/application_info.html" %}
  </div>
  <p>
    ถ้าข้อมูลถูกต้อง กรุณายืนยัน ถ้าไม่ถูกต้องสามารถเลือกกลับไปแก้ไขเพื่อแก้ไขได้
  </p>
  <form action="{% url apply-confirm %}" method="post">
    <input type="submit" name="submit" value="ยืนยัน"/>
    <input type="submit" name="cancel" value="กลับไปแก้ไข"/>
  </form>
</div>
{% endblock %}
