{% extends 'application/formbase.html' %}

{% block title %}Supporting documents{% endblock %}

{% block extra-head %}
  <link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
  {{ block.super }}
{% endblock %}

{% block form-body %}
<div class="front-body">
  {% if not chosen %}
    <p>เลือกวิธีการส่งเอกสาร</p>
  {% else %}
    <p>
      คุณได้เลือกวิธีการส่งแล้ว 
      โดยเลือกการ{{ applicant.get_doc_submission_method_display }}
    </p>
  {% endif %}
  <ul id="methods">
    <li class="tab">
      <div class="button">
	<a href="{% url upload-index %}">เลือกส่งเอกสารออนไลน์</a>
      </div>
      <div class="tab-body">
	<p>
	  ส่งเอกสารที่สแกนแล้วโดยการอัพโหลด สามารถทยอยอัพโหลดภายหลัง
	  และส่งใบสมัครเมื่ออัพโหลดเอกสารได้ครบ
	</p>
      </div>
    </li>
    <li class="tab">
      <div class="button">
	<a href="{% url apply-confirm %}">เลือกส่งเอกสารทางไปรษณีย์</a>
      </div>
      <div class="tab-body">
	<p>
	  ผู้สมัครจะต้องพิมพ์ใบปะหน้าสำหรับส่งเอกสารแนบมากับหลักฐานที่ส่งด้วย
	</p>
      </div>
    </li>
  </ul>
</div>
<script>
  var h = 0;
  $(".tab-body").each(function (t) {
    if(this.clientHeight > h)
      h = this.clientHeight;
  });
  $(".tab-body").css("height",h);
</script>
{% endblock %}
