{% extends 'base.html' %}

{% block title %}Applying{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
<script type="text/javascript" src="{% media_url %}/js/jquery.js"></script>
{% endblock %}

{% block body %}
<div class="front-body">
  <h1>การสมัครออนไลน์</h1>
  <ul id="methods">
    <li class="tab">
      <div class="button">
	<a href="{% url apply-register %}">ลงทะเบียนเข้าใช้ระบบ</a>
      </div>
    </li>
    <li class="tab">
      <div class="button">
	เริ่มกรอกใบสมัคร/กรอกใบสมัครที่ค้างไว้
	<form action="{% url apply-login %}" method="post">
	  <table>
	    {{ form.as_table }}
	    <tr>
	      <td></td>
	      <td>
		<input type="submit" name="submit" value="เข้าใช้ระบบ"/>
	      </td>
	    </tr>
	  </table>
	</form>
	
	<p>
	  <a href="{% url apply-forget %}">ลืมรหัสผ่าน</a>
	</p>
      </div>
    </li>
  </ul>
</div>
<script>
  $(document).ready(function() {
    var h = 0;
    $(".tab-body").each(function (t) {
      if(this.clientHeight > h)
        h = this.clientHeight;
    });
    $(".tab-body").css("height",h);
  });
</script>
{% endblock %}
