{% extends 'base.html' %}

{% block title %}Applying{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
<script type="text/javascript" src="{% media_url %}/js/jquery.js"></script>
{% endblock %}

{% block body %}
<div class="front-body">
  <h1>การสมัครเข้าศึกษาต่อคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</h1>

  <div class="right-box">
    <div class="login-box">
      <center>
	เริ่มต้นสมัครโดยการ
      </center>
      <a href="{% url apply-register %}">
	<div id="reg-button" class="button big">
	  ลงทะเบียนเข้าใช้ระบบ
	  <img src="{% media_url %}/image/Next.png"/>
	</div>
      </a>
    </div>

    <br/>

    <div class="login-box">
      <center>
	หลังจากลงทะเบียนแล้ว<br/>
	เริ่มกรอกใบสมัคร/กรอกใบสมัครที่ค้างไว้
	<form action="{% url apply-login %}" method="post">
	  <table class="header-left">
	    {{ form.as_table }}
	    <tr>
	      <td></td>
	      <td>
		<input type="submit" name="submit" value="เข้าใช้ระบบ"/>
	      </td>
	    </tr>
	  </table>
	</form>
      </center>
      
      <center>
	<a href="{% url apply-forget %}">ลืมรหัสผ่านหรือขอรหัสผ่านใหม่</a>
      </center>
    </div>
  </div>
  <p>
    <h2>ขั้นตอนการสมัคร</h2>
    <small>
      <ul>
	<li>
	  ผู้สมัครจะต้องลงทะเบียนเข้าใช้ระบบเพื่อรับรหัสผ่านทางอีเมล์ เพื่อเข้าใช้ระบบ
	  จากนั้นผู้สมัครจะต้องป้อนข้อมูลในใบสมัครจนครบถ้วน ซึ่งข้อมูลเหล่านี้จะรวมถึงที่อยู่
	  ผลการเรียน ผลคะแนนสอบ และลำดับสาขาวิชา
	</li>
	<li>
	  เมื่อกรอกข้อมูลเรียบร้อยแล้ว
	  ผู้สมัครสามารถเลือกจะส่งหลักฐานทางออนไลน์ผ่านทางการอัพโหลดเข้าสู่ระบบ
	  หรือเลือกส่งทางไปรษณีย์หรือส่งด้วยตนเองที่คณะวิศวกรรมศาสตร์
	</li>
	<li>
	  การกรอกใบสมัครไม่จำเป็นต้องกรอกให้เสร็จในครั้งเดียว
	  สามารถทยอยกรอกและทยอยอัพโหลดเอกสารได้
	</li>
	<li>
	  อย่างไรก็ตาม ในการใช้ระบบนี้
	  อีเมล์จะเป็นเครื่องมือหลักในการยืนยันตัวของผู้สมัคร
	  ดังนั้นจึงควรรักษารหัสผ่านอีเมล์ของตนอย่างดี
	</li>
      </ul>
    </small>
    <h2>กำหนดการรับสมัคร</h2>
    <table class="schedule">
      <tr>
	<td width="30%">
	  16 พ.ย. - 15 ธ.ค. 52
	  </td>
	<td>
	  กำหนดรับสมัครเข้าศึกษาต่อแบบรับตรง
	</td>
      </tr>
      <tr>
	<td>
	  22 ธ.ค. 52
	</td><td>
	  ประกาศรายชื่อผู้มีสิทธิ์เข้ารับการคัดเลือกเข้าศึกษาต่อแบบรับตรง
	</td>
      </tr>
      <tr>
	<td>
	  8 ม.ค. 53	
	</td><td>	
	  ประกาศรายชื่อผู้มีสิทธ์สอบสัมภาษณ์เข้าศึกษาต่อแบบรับตรง
	</td>
      </tr>
      <tr>
	<td>
	  22 ม.ค. 53
	</td><td>
	  สอบสัมภาษณ์
	</td>
      </tr>
      <tr>
	<td>
	  27 ม.ค. 53
	</td><td>
	  ประกาศรายชื่อผู้มีสิทธิ์เข้าศึกษาต่อแบบรับตรง
	</td>
      </tr>
      <tr>
	<td>
	  27 ม.ค. - 3 ก.พ. 53
	</td><td>
	  รายงานตัวและยืนยันสิทธิ์การเข้าศึกษาสำหรับผู้สมัครเข้าศึกษาต่อแบบรับตรง
	</td>
      </tr>
    </table>

    อ่าน<a href="http://admission.eng.ku.ac.th/information/2553/direct">ข้อมูลเพิ่มเติมเกี่ยวกับการรับตรงปีการศึกษา 2553</a>
  </p>
  <p>
    ถ้าพบปัญหาในการสมัครกรุณาสอบถามที่เว็บบอร์ด หรือส่งอีเมล์มาที่ 
    {% load adm_info %}{% adm_admin_email_link %}
  </p>

</div>
<script>
  $(document).ready(function() {
    var h = 0;
    $(".tab-body").each(function (t) {
      if(this.clientHeight > h)
        h = this.clientHeight;
    });
    $(".tab-body").css("height",h);

    $("#reg-button").hover(
      function() {
        $(this).addClass("selected");
      },
      function() {
        $(this).removeClass("selected");
      }
    );
  });
</script>
{% endblock %}
