<div class="light-frame">
<b>ชื่อผู้สมัคร:</b> {{ applicant.full_name }} | <b>หมายเลขประจำตัวผู้สมัคร:</b> {{ applicant.ticket_number }}<br/>
  <b>สาขาที่ได้รับการคัดเลือกให้เข้าสัมภาษณ์</b>: 
  {{ admission_result.admitted_major.number }}
  {{ admission_result.admitted_major.name }}
</div>
<div class="light-frame">
  <b>ข้อมูลการศึกษา</b><br/>
  <b>โรงเรียน:</b> {{ applicant.education.school_name }}, {{ applicant.education.school_province }}  | <b>เกรดเฉลี่ย:</b> {{ applicant.education.gpax }}<br/>
  <b>ผลคะแนนจากสทศ:</b>
  {% if applicant.NIETS_scores %}
    GAT: {{ best_scores.0 }} | PAT1: {{ best_scores.1 }} | PAT3: {{ best_scores.2 }} | คะแนนรวม {{ applicant.NIETS_scores.get_score }}
  {% else %}
    ไม่มีข้อมูล
  {% endif %}
  <br/>
</div>

