{% extends "commons/base.html" %}

{% block title %}หมดเขตเลือกอันดับสาขาวิชาที่ต้องการยืนยัน{% endblock %}

{% block body %}
<div id="step-bar">
  <ul>
    <li class="head">หมดเขตเลือกอันดับสาขาวิชาที่ต้องการยืนยัน</li>
  </ul>
</div>

<p>
  ขณะนี้ระบบยืนยันอันดับการเลื่อนสาขาปิดให้บริการแล้ว
</p>
<p>
  เมื่อคณะได้ประมวลผลการเลื่อนสาขาเรียบร้อยแล้ว ในวันที่ 5 ก.พ. 2553
  คณะจะส่งอีเมล์แจ้งผลให้กับผู้มีสิทธิ์สัมภาษณ์ รวมทั้งประกาศผลในระบบติดตามสถานะด้วย
</p>

<p>
  กลับไปยังเว็บ <a href="http://admission.eng.ku.ac.th/">admission.eng.ku.ac.th</a>
</p>
{% endblock %}
