{% extends "base.html" %}

{% block extra-head %}
<script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/jquery.js"></script>
<script type="text/javascript" src="{% media_url %}/js/doc_submission.js"></script>
{% endblock %}


{% block body %}
  <h1>การสมัครเข้าศึกษาต่อคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</h1>

  <p>อัพโหลดหลักฐาน</p>
  {% for f in field_forms %}
    <form id="upload-form-{{ f.name }}" 
	  class="doc-upload-form"
	  action="{% url upload-form field_name=f.name %}" 
	  method="post" 
          enctype="multipart/form-data">
      {{ f.field.verbose_name }}:
      {{ f.form.uploaded_file }}
      <input type="submit" value="Upload"/>
      <div id="upload-progress-{{ f.name }}"></div>
    </form>
  {% endfor %}

<script type="text/javascript">
$(document).ready(function() {
  {% for f in field_forms %}
    $('#upload-form-{{ f.name }}').submit(function() {
      return DocSubmission.handleFormSubmit(this,"{{ f.name }}");
    });
  {% endfor %}
});
</script>
{% endblock %}
