{% extends "base.html" %}

{% block extra-head %}
<script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/jquery.js"></script>
<script type="text/javascript" src="{% media_url %}/js/doc_submission.js"></script>
{% endblock %}


{% block body %}
  <h1>การสมัครเข้าศึกษาต่อคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</h1>

  <p>อัพโหลดหลักฐาน</p>
  <div id="doc-upload-forms">
    {% for f in field_forms %}
      {% with f as upload_field %}
        {% include "upload/include/field_form.html" %}
      {% endwith %}
    {% endfor %}
  </div>

<script type="text/javascript">
$(document).ready(function() {
  {% for f in field_forms %}
    $('#upload-form-{{ f.name }}').submit(function() {
      return DocSubmission.handleFormSubmit(this,"{{ f.name }}");
    });
  {% endfor %}
});
</script>
{% endblock %}
