{% extends "review/base.html" %}

{% block extra-title-bar %}หน่วยทะเบียน | {% endblock %}

{% block regis-body %}
<p>
  สถิติพื้นฐาน:
  <ul>
    <li>จำนวนผู้ลงทะเบียนเว็บไซต์: {{ stat.online_app_registered }} คน</li>
    <li>จำนวนผู้ส่งใบสมัครออนไลน์: {{ stat.online_app_submitted }} คน (ส่งหลักฐานทางไปรษณีย์ {{ stat.app_submitted_postal }} คน, ส่งหลักฐานออนไลน์ {{ stat.app_submitted_online }} คน)</li>
    <li>จำนวนผู้ส่งใบสมัครทางไปรษณีย์ที่ป้อนข้อมูลแล้ว {{ stat.app_submitted_offline }} คน</li>
    <li>ได้รับใบสมัครแล้ว {{ stat.app_received.total }} คน
      <ul>
	<li>
	  ตรวจสอบแล้ว: {{ stat.app_received.reviewed }}
	  [<a href="{% url review-list-complete %}">ดูรายชื่อ</a>]
	</li>
	<li>
	  รอตรวจสอบ: {{ stat.app_received.not_reviewed }}
	  [<a href="{% url review-list-wait %}">ดูรายชื่อ</a>]
	</li>
      </ul>
    </li>
  </ul>
</p>
{% endblock %}
