{% extends "review/base.html" %}

{% load adm_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/review.js"></script>
{% endblock %}

{% block extra-title-bar %}ตรวจสอบเอกสาร | {% endblock %}

{% block regis-body %}
  <b>ผู้สมัคร:</b> {{ applicant.full_name }} | 
  <b>หมายเลขประจำตัว:</b> {{ applicant.ticket_number }} | 
  <b>ยื่นเมื่อ:</b> {{ submission_info.submitted_at|date }} |
  {% include "review/include/doc_received_status.html" %}<br/>
  <form action="" method="post">
    <table class="applicants">
      <tr>
	<th>เอกสาร</th>
	<th>ถูกต้อง</th>
	<th>หมายเหตุสำหรับผู้สมัคร</th>
	<th>หมายเหตุภายใน</th>
	<th>มีเอกสาร</th>
      </tr>
      {% for item in review_data %}
        {% with item.field as f %}
        <tr>  
	  <td>{{ f.name }} <a id="doc-{{ f.short_name }}-link" href="#">[show]</a></td>
	  <td>{{ item.form.is_passed }}</td>
	  <td>
	    {{ item.form.applicant_note }}
	    {% if f.applicant_note_help_text %}
    	      <div class="help-text">{{ f.applicant_note_help_text }}</div>
	    {% endif %}
	  </td>
	  <td>
	    {{ item.form.internal_note }}
	    {% if f.admin_note_help_text %}
  	      <div class="help-text">{{ f.admin_note_help_text }}</div>
            {% endif %}
	  </td>
	  <td>
	    {% if not f.required %}
	      {{ item.form.is_submitted }}
	    {% endif %}
	  </td>
	</tr>
	{% endwith %}
      {% endfor %}
    </table>
    <div class="small-vert-sept"></div>
    <div class="submission-bar">
      <input type="submit" name="submit" value="เก็บข้อมูล"/>
      <input type="submit" name="cancel" value="ยกเลิก"/>
    </div>
  </form>
  <div class="small-vert-sept"></div>
  <div id="doc-preview" class="application-info">
    <div id="app-doc-personal-preview">
      <h2>ข้อมูลส่วนตัว</h2>
      <div class="section">
	{% include "application/include/applicant_personal.html" %}
      </div>
      <h2>ที่อยู่</h2>
      <div class="section">
	{% include "application/include/applicant_address.html" %}
      </div>
    </div>
    <div id="app-doc-education-preview" style="display: none">
      <h2>ข้อมูลการศึกษา</h2>
      <div class="section">
	{% include "application/include/applicant_edu.html" %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function show_personal_info() {
      $("#app-doc-personal-preview").show();
      $("#app-doc-education-preview").hide();
    }
    function show_education_info() {
      $("#app-doc-personal-preview").hide();
      $("#app-doc-education-preview").show();
    }
    function register_personal_trigger(id) {
      $(id).click(function() { show_personal_info(); return false; });
    }
    function register_education_trigger(id) {
      $(id).click(function() { show_education_info(); return false; });
    }
    $(document).ready(function() {
      register_personal_trigger("#doc-nat_id-link");
      register_education_trigger("#doc-edu_certificate-link");
      register_education_trigger("#doc-gat_score-link");
      register_education_trigger("#doc-pat1_score-link");
      register_education_trigger("#doc-pat3_score-link");
      register_education_trigger("#doc-anet_score-link");
      $("#doc-picture-link").hide();
      $("#doc-app_fee_doc-link").hide();
      $("#doc-abroad_edu_certificate-link").hide();

      register_doc_recevied_toggle_click();
    });
  </script>
{% endblock %}
