{% extends "review/base.html" %}

{% load adm_media %}

{% block regis-body %}
  <form action="{% url review-ticket %}" method="post">
    หมายเลขประจำตัว: {{ form.ticket_number }}{{ form.ticket_number.errors }} | 
    หมายเลขตรวจสอบ: {{ form.verification_number }}{{ form.verification_number.errors }} |
    <input type="submit" value="ค้นข้อมูล"/>
  </form>

  <table class="applicants">
    <tr>
      <th>เลขประจำตัว</th>
      <th></th>
      <th>ชื่อ</th>
      <th>เลขตรวจสอบ</th>
      <th></th>
      <th></th>
    </tr>
    {% for applicant, result in applicants_results %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td>{{ applicant.ticket_number }}</td>
	<td>
	  <img src="{% passed_icon result.ticket %}"/>
	</td>
	<td>{{ applicant.full_name }}</td>
	<td>{{ applicant.verification_number|slice:":8" }}</td>
	<td>
	  <img src="{% passed_icon result.verinum %}"/>
	</td>
	<td>
	  <a href="">ยังไม่ได้รับเอกสาร</a> | <a href="">ตรวจเอกสาร</a>
	</td>
      </tr>
    {% empty %}
      <tr><td colspan="6">ไม่พบผู้สมัคร</td></tr>
    {% endfor %}
  </table>

{% endblock %}
