{% extends "application/formbase.html" %}

{% block title %}ลงทะเบียนเพื่อเข้าใช้ระบบ{% endblock %}

{% block form-body %}
  <p>
    หลังจากกรอกข้อมูลในฟอร์มนี้แล้ว คุณจะได้รับอีเมล์ยืนยันส่งไปยังอีเมล์ที่คุณกรอกไว้
    พร้อมด้วยรหัสผ่านสำหรับการเข้าใช้ระบบรับสมัคร
    กรุณาเข้าไปตรวจสอบเพื่อเข้าใช้ระบบต่อไป ถ้ามีปัญหาในการใช้งานสามารถสอบถามได้ที่เว็บบอร์ด
  </p>
  {% if form.non_field_errors %}
    <ul class="errorlist">
      {% for error in form.non_field_errors %}
        <li>{{ error|safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form action="{% url apply-register %}" method="post">
    <table>
      {% for field in form %}
        <tr>
	  <th>{{ field.label_tag }}:</th>
	  <td>{{ field }}</td>
	  <td>{{ field.errors }}</td>
	</tr>
      {% endfor %}
      <tr>
	<td></td>
	<td>
	  <input type="submit" name="submit" value="เก็บข้อมูล"/>
	  <input type="submit" name="cancel" value="ยกเลิก"/>
	</td>
      </tr>
    </table>
  </form>
{% endblock %}
