{% extends "application/status/base.html" %}

{% block body %}
  <p>
    คุณได้ยื่นใบสมัครเรียบร้อย ด้วยเลือกยื่นหลักฐานโดยการ{{ applicant.get_doc_submission_method_display }}
  </p>
  <p>
    <b>สถานะใบสมัคร:</b> อยู่ระหว่างการตรวจสอบ
  </p>
  <p>
    คุณสามารถ <a href="{% url status-show %}">ดูใบสมัครที่คุณส่งมาแล้วได้</a> เพื่อตรวจสอบรายละเอียด อย่างไรก็ตาม คุณจะไม่สามารถแก้ไขข้อมูลได้อีกแล้ว ถ้ามีข้อขัดข้องหรือข้อผิดพลาดกรุณาแจ้งผู้ดูแลทางอีเมล์ {% load adm_info %}{% adm_admin_email_link %}
  </p>
{% endblock %}
