{% extends "application/status/base.html" %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
<script type="text/javascript" src="{% media_url %}/js/jquery.js"></script>
{% endblock %}

{% block body %}
  {% load adm_steps %}{% step_bar "ตรวจสอบสถานะใบสมัคร" %}

  {% if notice %}
    <div class="notice-bar">
      <span class="notice">{{ notice }}</span>
    </div>
  {% endif %}

  <div class="right-box">
    <br/>
    {% include "application/status/include/status_menu.html" %}


    <small>
      <ul>
	<li>
	  <b>การแก้ไขข้อมูลการสมัคร</b>
	  ระบบจะอนุญาตให้แก้ไขได้จนกระทั่งทางคณะได้ตรวจสอบหลักฐานที่ยื่นมาเท่านั้น
	  โดยในช่วงก่อนวันที่ 10 ธ.ค. คณะจะเว้นระยะเผื่อให้มีเวลาแก้ข้อมูลได้อย่างน้อย
	  3 วัน
	</li>
	<li>
	  <b>การแก้ไขอันดับสาขาวิชา</b> สามารถแก้ได้จนสิ้นสุดวันที่ 15 ธ.ค. 52
	</li>
      </ul>
    </small>
  </div>
  <p>
    คุณได้ยื่นใบสมัครเรียบร้อย โดยเลือกส่งหลักฐานโดยการ{{ applicant.get_doc_submission_method_display }} ขณะนี้คณะ{% if submission_info.has_received_doc %}ได้รับหลักฐานของคุณแล้ว{% else %}ยังไม่ได้รับหลักฐานของคุณ{% endif %}
  </p>
  <p>
    <b>ชื่อผู้สมัคร:</b> {{ applicant.full_name }}<br/>
    <b>หมายเลขประจำตัวผู้สมัคร:</b> {{ applicant.ticket_number }}<br/>
    <table id="doc-status-table">
      <tr>
	<th>วิธีการส่งหลักฐาน</th>
	<th>วันที่ได้รับหลักฐาน</th>
	<th>สถานะการตรวจสอบหลักฐาน</th>
      </tr>
      <tr>
	<td>{{ applicant.get_doc_submission_method_display }}</td>
	<td>
	  {% passed_icon submission_info.has_received_doc %}
	  {% if submission_info.doc_received_at %}
	    {{ submission_info.doc_received_at|date:"j N y" }}
	  {% else %}
	    ยังไม่ได้รับ 
	  {% endif %}
	</td>
	<td id="id_review_result_tcell">
          {% if submission_info.has_been_reviewed %}
	    {% passed_icon submission_info.doc_reviewed_complete %}
	    {% if submission_info.doc_reviewed_complete %}
	      ตรวจสอบเรียบร้อย
	    {% else %}
	      เอกสารบางส่วนผิดพลาด
	      <ul>
  		{% for result in review_results %}
	          <li>{{ result.review_field }} : {{ result.applicant_note }}</li>
		{% endfor %}
	      </ul>
	    {% endif %}  
	  {% else %}
	    ยังไม่ได้ตรวจสอบ
	  {% endif %}
	</td>
      </tr>
    </table>
  </p>

  {% if submission_info.has_been_reviewed %}
    {% if not submission_info.doc_reviewed_complete %}
      <div class="normal-msg" style="width: 510px">
	<img src="{% media_url %}/image/Info.png"/>
	เพื่อให้การสมัครสมบูรณ์ <b>คุณจะต้องส่งหลักฐานเพิ่มเติมเพื่อแก้ไขข้อผิดพลาดข้างต้น</b>
	{% if applicant.online_doc_submission %}
	  อย่างไรก็ตามระบบส่งเอกสารเพิ่มเติมแบบออนไลน์กำลังอยู่ระหว่างการพัฒนา
	  คาดว่าจะส่งได้ภายใน 1-2 วันนี้ ต้องขออภัยไว้ ณ ที่นี้ด้วย ที่ต้องให้ผู้สมัครรออีกสักนิด
	{% else %}
	  ในการส่งเอกสารทางไปรษณีย์ อย่าลืมแนบใบนำส่งหลักฐานมาด้วย
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  <p>
    คุณสามารถ <a href="{% url status-show %}">ดูใบสมัครที่คุณส่งมาแล้วได้</a>
    เพื่อตรวจสอบรายละเอียด{% if not applicant.online_doc_submission %}และพิมพ์ใบนำส่งหลักฐาน{% endif %}
  </p>
  <p>
    คุณสามารถแก้ข้อมูลการศึกษาและอันดับสาขาวิชาที่เลือกได้โดยกดเลือกจากเมนูด้านขวามือ
  </p>
  <p>
    ถ้ามีข้อขัดข้องหรือข้อผิดพลาดกรุณาแจ้งผู้ดูแลทางอีเมล์ {% load adm_info %}{% adm_admin_email_link %}
  </p>
  <br style="clear:both"/>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".notice-bar").animate({opacity:1.0}, 5000).fadeOut("slow");
    });
  </script>
{% endblock %}
