{% extends "application/status/base.html" %}

{% block body %}
  {% load adm_steps %}{% step_bar "ตรวจสอบสถานะใบสมัคร" %}

  <p>
    คุณได้ยื่นใบสมัครเรียบร้อย โดยเลือกส่งหลักฐานโดยการ{{ applicant.get_doc_submission_method_display }}
  </p>
  <p>
    ขณะนี้ระบบตรวจสอบสถานะอยู่ระหว่างการพัฒนา จะสามารถตรวจได้เร็ว ๆ นี้ นอกจากนี้ถ้ามีการเปลี่ยนแปลงสถานะการตรวจสอบจะมีอีเมล์แจ้งถึงผู้สมัคร
  </p>
  <p>
    คุณสามารถ <a href="{% url status-show %}">ดูใบสมัครที่คุณส่งมาแล้วได้</a> เพื่อตรวจสอบรายละเอียด อย่างไรก็ตาม คุณจะไม่สามารถแก้ไขข้อมูลได้อีกแล้ว ถ้ามีข้อขัดข้องหรือข้อผิดพลาดกรุณาแจ้งผู้ดูแลทางอีเมล์ {% load adm_info %}{% adm_admin_email_link %}
  </p>
{% endblock %}
