

<div id="application-conditions">
  <h3>ข้าพเจ้ารับทราบเงื่อนไข ดังนี้</h3>
  <ul>
    <li>
      ผู้สมัครที่ได้รับการคัดเลือกเข้าศึกษาในคณะวิศวกรรมศาสตร์
      มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน และยืนยันสิทธิ์การเข้าศึกษา
      จะต้องชําระเงินค่าประกันสิทธิ์เป็นค่าธรรมเนียมการศึกษา
      เหมาจ่ายสําหรับภาคการศึกษาที่ 1 ดังนี้ (1) ภาคปกติ จํานวน 16,000 บาท (2)
      ภาคพิเศษ จํานวน 36,700 บาท (3) นานาชาติ จํานวน 60,700 บาท
    </li>
    <li>
      ผู้ที่ได้รับคัดเลือกเข้าศึกษาตามโครงการนี้
      เมื่อได้ยืนยันสิทธิ์การเข้าศึกษาและชําระเงินค่าประกันสิทธิ์แล้ว
      คณะวิศวกรรมศาสตร์จะไม่คืนเงินประกันสิทธิ์
      หากผู้ที่ได้รับการคัดเลือกเข้าศึกษาสละสิทธิ์ภายหลัง
    </li>
    <li>
      ผู้ที่ได้รับการคัดเลือกเข้าศึกษาตามโครงการนี้
      เมื่อได้ยืนยันสิทธิ์การเข้าศึกษาและชําระเงินค่าประกันสิทธิ์แล้ว
      คณะวิศวกรรมศาสตร์จะส่งรายชื่อไปยังสํานักงานคณะกรรมการการอุดมศึกษา
      เพื่อตัดสิทธิ์การสมัครเข้าศึกษาในสถาบันอุดมศึกษา ตามระบบกลางการรับนิสตนักศึกษา
      (Central Admission) ประจําปีการศึกษา 2553
    </li>
    <li>
      คณะวิศวกรรมศาสตร์ขอสงวนสิทธิ์ในกรณีที่อาจจะรับเข้าไม่เต็มจํานวนที่กำหนด
    </li>
  </ul>
  ข้าพเจ้ารับรองว่าข้อความที่ปรากฏในใบสมัครเป็นความจริงทุกประการ
  หากมีส่วนหนึ่งส่วนใดในข้อความที่ระบุไม่เป็นความจริง
  ข้าพเจ้ายินยอมให้ตัดสิทธิ์การเข้าศึกษาในคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์
  วิทยาเขตบางเขน
</div>
